doctype html
html
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet' href='css/main.css')
		//bower:js
		//endbower
		script(src='js/main.js')
		block head
	body
		block body