@mixin image-adaptive($image, $extension) {
	@media only screen {
		background-image: url($path-images-css + $image + "." + $extension); 
	}
	@media only screen and (min-resolution: 2dppx) {
		background-image: url($path-images-css + $image + "@2x." + $extension);
	}
}