body{
	background-color: #f5f5f5;
	position: relative;
	font-family: $base-font;
	line-height: 1;
}

input{
	font-family: $base-font;
}

.page-container{
	position: relative;
	& &__middle-block{
		margin: 0 auto;
		width: 560px;
	}
}

.header{
	position: relative;
	& &__title{
		color: rgba(175, 47, 47, 0.15);
		font-size: 100px;
		font-weight: 100;
		margin: 0;
		line-height: 1;
		text-align: center;
	}
}

.block-notes{
	background-color: #fff;
	position: relative;
	$shadow: 0 2px 4px rgba(0,0,0,0.2);
	& &__header{
		height: 62px;
		border-bottom: 1px solid #e6e6e6;
	}
	& &__content{
		position: relative;
	}
	& &__inner{
		position: relative;
		box-shadow: $shadow;
		z-index: 1;
		background-color: #fff;
	}
	&::before, &::after{
		display: block;
		content: '';
		position: absolute;
		top: 10px;
		background-color: #fff;
		box-shadow: $shadow;
	}
	&::before{
		left: 4px;
		right: 4px;
		bottom: -10px;
	}
	&::after{
		left: 2px;
		right: 2px;
		bottom: -5px;
	}
	&_empty{
		.block-notes-footer{
			display: none;
		}
		&::before, &::after{
			display: none;
		}
		.block-notes-header{
			.block-notes-header__icon{
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}

.block-notes-header{
	position: relative;
	& &__icon{
		position: absolute;
		left: 12px;
		top: 12px;
		width: 38px;
		height: 38px;
		transition: all 300ms ease;
		@include image-adaptive('select-all', 'png');
		background-size: 24px 12px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		opacity: 1;
		visibility: visible;
	}
	& &__group{
		position: absolute;
		left: 60px;
		right: 12px;
		top: 16px;
		height: 30px;
	}
	& &__placeholder{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		font-size: 24px;
		line-height: 30px;
		font-weight: 200;
		color: #cccccc;
		font-style: italic;
		opacity: 1;
		transition: all 200ms ease;
		&.placeholder_unvisible{
			opacity: 0;
		}
	}
	& &__input{
		position: absolute;
		font-size: 24px;
		left: 0;
		top: 0;
		width: 100%;
		line-height: 30px;
		height: 100%;
		font-weight: 200;
		color: $text-dark;
		border: none;
		background-color: transparent;
		box-sizing: border-box;
		&:focus{
			outline: none;
		}
	}
}

.block-notes-content{
	& &__tasks{
		
	}
	& &__footer{
	}
}

.block-notes-footer{
	position: relative;
	height: 22px;
	padding: 9px 12px;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	color: #888888;
	border-top: 1px solid #e6e6e6;
	margin-top: -1px;
	& &__left{
		position: absolute;
		top: 9px;
		left: 12px;
		line-height: 22px;
	}
	& &__right{
		position: absolute;
		top: 9px;
		right: 12px;
		line-height: 22px;
	}
	& &__group{
		display: inline-block;
	}
}

.group-of-buttons{
	height: 22px;
	& &__button{
		float: left;
		line-height: 20px;
		border: 1px solid transparent;
		border-radius: 3px;
		transition: all 300ms ease;
		padding: 0 9px;
		margin: 0 4px;
		cursor: pointer;
		&.button_active{
			border-color: #e6e6e6;
			cursor: default;
		}
	}
}

.one-task{
	height: 62px;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
	cursor: pointer;
	transition: all 200ms ease;
	& &__check{
		position: absolute;
		width: 36px;
		height: 36px;
		left: 12px;
		top: 13px;
		border-radius: 50%;
		background-color: #fff;
		box-sizing: border-box;
		border: 1px solid #e6e6e6;
		transition: all 200ms ease;
		&::before{
			opacity: 0;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			@include image-adaptive('completed', 'png');
			background-size: 20px 20px;
			background-repeat: no-repeat;
			background-position: center;
			transition: all 200ms ease;
		}
	}
	& &__textgroup{
		position: absolute;
		left: 60px;
		right: 48px;
		top: 12px;
		bottom: 12px;
	}
	& &__text{
		font-size: 24px;
		line-height: 38px;
		font-weight: 200;
		color: $text-dark;
		transition: all 200ms ease;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	& &__input{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		font-size: 24px;
		line-height: 38px;
		font-weight: 200;
		color: $text-dark;
		display: none;
		border: 1px solid #e6e6e6;
		padding: 0;
		box-sizing: border-box;
		background-color: transparent;
		&:focus{
			outline: none;
		}
	}
	& &__remove{
		position: absolute;
		right: 0;
		top: 12px;
		width: 38px;
		height: 38px;
		@include image-adaptive('close', 'png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 18px 18px;
		opacity: 0;
		transition: all 200ms ease;
	}
	&:hover{
		background-color: #fafafa;
		.one-task__remove{
			opacity: 1;
		}
		.one-task__check{
			border-color: #cfcfcf;
		}
	}
	&.one-task_checked{
		.one-task__check{
			border-color: #7bcdbe;
			&::before{
				opacity: 1;
			}
		}
		.one-task__text{
			color: #cccccc;
			text-decoration: line-through;
		}
	}
	&.one-task_editable{
		.one-task__text{
			display: none;
		}
		.one-task__input{
			display: block;
		}
	}
}